@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap");

body {
  font-family: "Open Sans", "Lato", sans-serif;
  /* background-size: cover; */
  /* height: 100%; */
  /* object-fit: cover; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-image:  */
  /* linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), */
  /* url("/images/bg-image.jpg"); */
}

html {
  background: url("/images/bg-image2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  object-fit: scale-down;
}

.image-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("/images/image.jpg");
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

.contact {
  @apply m-2  text-6xl text-indigo-400
  hover:text-white;
}
/* ============================= */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
  margin: 0 auto;
}

.textContainer {
  max-width: 40%;
  /* max-height: fit-content; */
  animation: flyInRight 3s ease;
  color: #fff;
  margin-left: 10rem;
  line-height: 2;
}

.imageContainer {
  width: 50%;
  animation: flyInLeft 3s ease;
  justify-self: flex-end;
}

.imageContainer {
  /* background: radial-gradient(transparent, #130d13fc); */
  /* z-index: 100; */
  /* background-color: red; */
  /* width: 100%; */
  /* box-shadow: inset 0 0 10px 30px rgb(19, 13, 19); */
}

.img {
  visibility: 50%;
}

@keyframes flyInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes flyInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
/* ============================================ */

@keyframes flyInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes flyInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* New styles for the animations */
.animate-flyInLeft {
  animation: flyInLeft 3s ease;
}

.animate-flyInRight {
  animation: flyInRight 3s ease;
}

/* ===================================== */
@media (max-width: 640px) {
  .text {
    font-size: 8px;
    line-height: normal;
  }

  .container {
    flex-direction: row;
    gap: 1rem;
  }
}

@media (max-width: 1300px) {
  .container {
    flex-direction: row;
    gap: 2rem;
  }

  .text {
    font-size: 1.5rem;
    line-height: normal;
  }
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    gap: 2rem;
    justify-content: space-evenly;
  }

  .textContainer {
    margin: 0;
    max-width: 50%;
  }

  .text {
    font-size: 1.8rem;
    line-height: 1;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
    margin: 1rem auto;
  }

  .text {
    font-size: 1.6rem;
    line-height: 1.1;
  }

  .textContainer {
    margin: 0;
    max-width: 50%;
  }

  .image-container {
    width: 50% !important;
    /* margin: 2rem !important; */
  }
  .head {
    flex-direction: column !important;
    /* flex-wrap: wrap; */
  }

  nav {
    margin-bottom: 1rem !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    align-self: center !important;
    /* align-self: flex-start !important; */
    gap: 2rem !;
  }

  .nav {
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
  }
  header {
    font-size: 1.5rem;
    margin-bottom: 2rem !important;
  }
}

/* @media (max-width: 1800px) {
  .container {
    
    justify-content: center !important;
   
  }

  .textContainer {
   
  }
} */
/* .textContainer {
  width: 100%;
} */

.text {
  background: linear-gradient(
    to right,

    #f8fafc 0%,
    #f8fafc 5%,
    #eef2ff 5%,
    #eef2ff 17%,

    #818cf8 15%,
    #818cf8 32%,
    white 32%,
    white 80%,
    #818cf8 80%,
    #818cf8 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

span {
  color: initial;
}

footer {
  margin-top: 2rem !important;
}
