@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap");

body {
  font-family: "Open Sans", "Lato", sans-serif;
  /* background-size: cover; */
  /* height: 100%; */
  /* object-fit: cover; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-image:  */
  /* linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), */
  /* url("/images/bg-image.jpg"); */
}

/* html {
  background: url("/images/bg-image2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  object-fit: scale-down;
} */

.image-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("/images/image.jpg");
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

.contact {
  @apply m-2  text-6xl text-indigo-400
  hover:text-white;
}

/* ============================= */
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10rem;
  margin: 0 auto !important;
  overflow: visible;
}

.textContainer {
  max-width: 50%;
  /* max-height: fit-content; */
  animation: flyInRight 3s ease;
  color: #fff;
  margin-left: 10rem;
  line-height: 1.6 !important;
}

.imageContainer {
  width: 50%;
  animation: flyInLeft 3s ease;
  /* justify-self: flex-end; */

  /* margin-right: 2rem; */
}

.text {
  margin: 0;
}
@keyframes flyInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes flyInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
/* ============================================ */

@keyframes flyInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes flyInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* New styles for the animations */
.animate-flyInLeft {
  animation: flyInLeft 3s ease;
}

.animate-flyInRight {
  animation: flyInRight 3s ease;
}

/* ===================================== */

@media (max-width: 1400px) {
  .container {
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
  }

  .text {
    font-size: 1.2rem;
    line-height: 1.2;
  }
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    margin: 2rem auto !important;
  }

  .textContainer {
    margin: 0;
    max-width: 50%;
  }

  .text {
    font-size: 1.6rem;
    line-height: 1.5;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
    margin: 1rem auto;
  }

  .text {
    font-size: 1.2rem;
    line-height: 1.1;
  }

  .textContainer {
    margin: 0;
    max-width: 50%;
  }

  .image-container {
    width: 50% !important;
    /* margin: 2rem !important; */
  }
  .head {
    flex-direction: column !important;
    /* flex-wrap: wrap; */
  }

  nav {
    margin-bottom: 1rem !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    align-self: center !important;
    /* align-self: flex-start !important; */
    gap: 2rem;
  }

  .nav {
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
  }
  header {
    font-size: 1.2rem;
    /* margin-bottom: 2rem !important; */
  }
}

.text {
  background: linear-gradient(
    to right,

    #f8fafc 0%,
    #f8fafc 5%,
    #eef2ff 5%,
    #eef2ff 14%,

    #818cf8 14%,
    #818cf8 32%,
    white 32%,
    white 80%,
    #818cf8 80%,
    #818cf8 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

span {
  color: initial;
}

footer {
  margin-top: 2rem !important;
}

/* ========================================= */

html {
  background: linear-gradient(
    50deg,
    /* #fff 0%, */ #131913 5%,
    /* #818cf8 7%, */ #131913 10%,
    #13293d 23%,
    /* #fff 28%, */ #131913 29%,
    #0b0014 54%,
    #13293d 59%,
    #131913 85%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.body {
  background: linear-gradient(
    50deg,
    /* #fff 0%, */ #131913 5%,

    #131913 10%,
    #13293d 23%,
    /* #fff 28%, */ #131913 29%,
    #0b0014 54%,
    #13293d 59%,
    #131913 85%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.imageContainer1 {
  position: relative;
  max-width: 500px;
  max-height: 540px;
  border-radius: 3rem;
}

.imageContainer1::after {
  border-radius: 3rem; /* Add border-radius for rounded corners if needed */
  box-shadow: inset 0 0 30px 50px rgba(19, 33, 37, 0.859) !important; /* Adjust the values for a stronger or softer shadow */
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  /* z-index: 100; */
}

.img {
  opacity: 0.3 !important;
  border-radius: 3rem;
}

.mg {
  overflow: visible;
}

header {
  overflow: visible;
}

.card-img {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
